---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Presentations">
    <div class="page-container">
        <h1>Presentations</h1>

        <p class="intro-text">
            I regularly present my work, for example at conferences and in lectures. Here is a non-exhaustive list:
        </p>

        <section>
            <h2>Talks</h2>
            <ul class="custom-list">
                <li>
                    <a href="https://yannikschaelte.github.io/pres_phd_defense_20220601/" target="_blank" class="list-item-title">
                        Efficient accurate and robust statistical inference for deterministic and stochastic models of biochemical
                        systems
                    </a>
                    <span class="list-item-description">PhD defense, Garching/Neuherberg, Germany, 2022-06-01</span>
                </li>
                <li>
                    <a href="https://yannikschaelte.github.io/pres_comphealth2021/#/" target="_blank" class="list-item-title">
                        Learning informative and robust distances and summary statistics in ABC
                    </a>
                    <span class="list-item-description">Helmholtz Munich Computational Health Group Day, 2021-09-30</span>
                </li>
                <li>
                    <a href="https://yannikschaelte.github.io/pres_ose2021/#/" target="_blank" class="list-item-title">
                        Parameter inference in Computational Biology
                    </a>
                    <span class="list-item-description">OpenSourceEconomics Scientific Computing Seminar, Bonn, Germany, 2021-01-26</span>
                </li>
                <li>
                    <a href="https://yannikschaelte.github.io/pres_ose2020/#/" target="_blank" class="list-item-title">
                        pyABC: Statistical inference without a likelihood?
                    </a>
                    <span class="list-item-description">OpenSourceEconomics Meetup, Bonn, Germany, 2020-11-10</span>
                </li>
                <li>
                    <a href="https://yannikschaelte.github.io/pres_ismb2020/#/" target="_blank" class="list-item-title">
                        Efficient Exact Inference for Dynamical Systems with Noisy Measurements using Sequential Approximate
                        Bayesian Computation
                    </a>
                    <span class="list-item-description">
                        ISMB Conference, Montréal, Canada, 2020-07-16
                        <span class="extra-links">
                            See also the <a href="https://youtu.be/Da_SGN4zqAc" target="_blank">recorded talk</a>
                        </span>
                    </span>
                </li>
                <li>
                    <a href="https://yannikschaelte.github.io/pres_pyabc_vistas2019/" target="_blank" class="list-item-title">
                        (py)ABC: it's easy
                    </a>
                    <span class="list-item-description">New Vistas Conference, Vigo, Spain, 2019-05-24</span>
                </li>
                <li>
                    <a href="/presentations/YannikSchaelte_pres_CRMSNS_20181003.pdf" target="_blank" class="list-item-title">
                        Approximate Bayesian Computation for Parameter
                        Estimation of Complex Stochastic Models
                    </a>
                    <span class="list-item-description">CRM SNS Workshop, Pisa, Italy, 2018-10-03</span>
                </li>
                <li>
                    <a href="/presentations/YannikSchaelte_pres_FOSBE_20180807.pdf" target="_blank" class="list-item-title">
                        Evaluation of Derivative-Free Optimizers for
                        Parameter Estimation in Systems Biology
                    </a>
                    <span class="list-item-description">FOSBE Conference, Chicago, USA, 2018-08-07</span>
                </li>
                <li>
                    <a href="/presentations/YannikSchaelte_pres_SBMC_20180705.pdf" target="_blank" class="list-item-title">
                        pyABC - A framework for distributed likelihood-free inference
                    </a>
                    <span class="list-item-description">SBMC Conference, Bremen, Germany, 2018-07-05</span>
                </li>
            </ul>
        </section>

        <section>
            <h2>Posters</h2>
            <ul class="custom-list">
                <li>
                    <a href="/posters/YannikSchaelte_poster_ISMB_20220511.pdf" target="_blank" class="list-item-title">
                        Robustly account for informativeness in ABC via inverse ML models
                    </a>
                    <span class="list-item-description">SBMC Conference, Heidelberg, Germany, 2021-05-11</span>
                </li>
                <li>
                    <a href="/posters/YannikSchaelte_poster_INCOME_20210301.pdf" target="_blank" class="list-item-title">
                        Learning robust summary statistics and cost functions in ABC
                    </a>
                    <span class="list-item-description">INCOME Conference, Bonn, Germany, 2021-03-01</span>
                </li>
                <li>
                    <a href="/posters/YannikSchaelte_poster_EMED_20201124.pdf" target="_blank" class="list-item-title">
                        Noise Up Your ABC
                    </a>
                    <span class="list-item-description">e:Med Meeting, Bonn, Germany, 2020-11-24</span>
                </li>
                <li>
                    <a href="/posters/YannikSchaelte_poster_INCOME_20191125.pdf" target="_blank" class="list-item-title">
                        Efficient noise assessment in sequential ABC
                    </a>
                    <span class="list-item-description">INCOME Conference, Berlin, Germany, 2019-11-25</span>
                </li>
                <li>
                    <a href="/posters/YannikSchaelte_poster_INCOME_20181015.pdf" target="_blank" class="list-item-title">
                        pyABC: scalable likelihood-free inference
                    </a>
                    <span class="list-item-description">INCOME Conference, Bernried, Germany, 2018-10-15</span>
                </li>
            </ul>
        </section>
    </div>
</Layout>
